/* 음식점 목록 */
.restaurant-list-container {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
  margin: 16px 0;
}

.restaurant-list-empty {
  height: calc(100vh - 64px);

  display: flex;
  justify-content: center;
  align-items: center;
}
